.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  border-radius: 50%;
}
  
  
.App-header {
  background-color: #e28242;
  height: 50px;
  padding: 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: bold;
}
.card-container{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 50px;
}
.card{
  border: 2px solid blue;
}
/* .tbl-container{
  border: 4px solid orangered;
  display: flex;
  justify-content: space-between;
}

.tbl-container tr {
  border-bottom: 2px solid orange;
  background-color: aqua;
  width: 100%;
  font-size: 20px;
} */

.tbl{
width: auto;
height: 300px;
background-color: aquamarine;
}

table thead tr{
  background-color: rgb(113, 113, 161);
  font-size: 17px;
}
table,th,td{
  border: 1px solid coral;
  text-align: center;
  padding: 0px 30px;
}
.tbl.container{
  width: 100%;
  background-color: burlywood;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}
.restaurant{
  text-align: center;
  background-color: #e28242;
  margin-top: 20px;
  font-size: 25px;
  
}
.restaurant li{
  list-style-type: none;
}


.footer-app{
  text-align: center;
}
.footer-app li{
  list-style-type: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}




.results {
  padding-top: 15px;
}

.footer {
  padding-top: 20px;
  text-align: center;
}

.card {
  width: 18rem;
}
